.sidebarmenu{
 height: calc(100vh - 65px);
 position: sticky;
 top: 65px;
 width: 200px;
}
a{
    text-decoration: none;
    color: inherit;
}
.sidebarlist{
    list-style-type: none;
    color: #444;
    padding: 5px;

}
.sidebarlistitem{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 4px;
    margin-left: 25px;
}
.sidebarlistitem.active , .sidebarlistitem:hover{
    background-color: #ccc;
    color: #00f;
}

.sidebaricon{
    margin-right: 5px;
    font-size: 20px;

}

.tittel{
   font-size: 14px; 
   color: #444;
   margin-left: 20px;
}